* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: arial;
}

body {
  background-color: black;
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
}

p {
  margin: 20px 0;
}

.header__top--yellow {
  background-color: #ffee00;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__top--yellow h1 {
  font-size: 50px;
  font-weight: bold;
}

section {
  width: 100%;
  height: 25vh;
  padding: 30px;
  box-sizing: border-box;
}

.section--dark {
  background-color: #000;
  color: #FFF;
}

.section--light {
  background-color: #FFF;
  color: #000;
}

nav > ul {
  width: 100%;
  display: flex;
}

nav > ul > li {
  width: fit-content;
  padding: 16px;
  margin-right: 25px;
  background-color: #000;
}

nav > ul > li > a {
  text-decoration: none;
  font-weight: bold;
  color: #FFF;
}

.nav--yellow > ul > li {
  background-color: yellow;
}


.nav--yellow > ul > li > a {
  color: black;
}